*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-parts img{
        width: 120px;
}
.buy-now-btn{
    border: none;
    background-image: linear-gradient(to top, rgb(64, 64, 207),rgb(55, 109, 128));
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.margin-top{
    margin-top: 50px;
}
.margin-top h6{
    color: rgb(185, 10, 10);
}
.card img{ 
    width: 200px;
    margin-left: 80px;
    margin-top: 10px;
    
}
.cat{
    padding: 05px 30px;
    background-image: linear-gradient(to right,orange , rgb(238, 202, 134) );
    width: 40px;
    border-radius: 20px;
    position: relative;
    left: 48%;

}
footer{
    text-align: center;
    color: grey;
}
 